@using System.Text.Json

<div class="alert alert-secondary">
    <code>
        <pre>@(JsonSerializer.Serialize(Data, new JsonSerializerOptions { WriteIndented = true }))</pre>
    </code>
</div>

@code {
    [Parameter]
    public object Data { get; set; } = null!;
}