@page "/todo"
@attribute [Authorize]

<PageTitle>Todo</PageTitle>

<h1>Todo</h1>

<p>This component demonstrates state management, validation, fetching and updating data on server, and more.</p>

<TodoState>
	<div class="row">
		<div class="col-sm-4">
			<TodoLists></TodoLists>
		</div>
		<div class="col-sm-8">
			<TodoItems></TodoItems>
		</div>
	</div>
</TodoState>